
## Code Composer Workspace ##
.metadata/
.jxbrowser-data/
RemoteSystemsTempFiles/.project
*.workspace
*.prefs

## Proteus ##
*.pdsbak

## Projects Debug Folders ##
*.obj
*.map
*.out
*.xml

**/Debug/

**/Debug/!**!.hex