
## Code Composer Workspace ##
.metadata/
.jxbrowser-data/
RemoteSystemsTempFiles/.project
*.workspace

## Proteus ##
*.pdsbak

## Projects Debug Folders ##
*.obj
*.map
*.out
*.xml

trabalho_pwm/Debug/


**/Debug/

