
## Code Composer Workspace ##

.metadata/
.jxbrowser-data/
RemoteSystemsTempFiles/.project
*.prefs
dvt/

############################

## Projects Debug Folders ##

*/Debug/*
!*/Debug/*.hex

############################

########  Proteus  #########

*.pdsbak
*.workspace

############################

*.7z
*.zip